@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    border: 6px solid white;
}

.swiper-pagination .swiper-pagination-bullet-active {
    opacity: .4;
    background-color:(#333333);
    border: 6px solid white;

}
#home .swiper-button-prev,
.swiper-rtl .swiper-button-next{
    color: white;
    padding-left: 30px;
    
}
#home .swiper-button-next,
.swiper-rtl .swiper-button-next {
    color: white;
    padding-right: 40px;
}

#one .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: black;
    border: 4px solid black;
}

#one .swiper-pagination .swiper-pagination-bullet-active {
    opacity: .4;
    background-color: (#333333);
    border: 4px solid black;

}
#two .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    border: 6px solid white;
}

#two .swiper-pagination .swiper-pagination-bullet-active {
    opacity: .8;
    background-color: white;
    border: 6px solid goldenrod;

}

ol{
    list-style: decimal;
}



.card-contain {
    perspective: 1000px;
    animation-name: spin;
    animation-duration: 4s;
    animation-delay: 0s;
    transition: 1s;
    transform: rotate(360deg);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.card-container {
    perspective: 1000px;
    
    
}

.card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}



.card-back {
    transform: rotateY(180deg);
}

.card-container:hover .card {
    transform: rotateY(180deg);
}
.card-contain:hover .card {
    transform: rotateY(180deg);
}



.clip{
clip-path: polygon(100% 0, 51% 0, 100% 54%);
}

/* #pop-up {
     top: -400px;
    transform-origin: 10px 10px;
    animation: drop 0.5s ease forwards, swing 2s 3s ease forwards;
}



@keyframes drop {
    0% {}

    70% {
        transform: translateY(700px);
    }

    100% {
        transform: translateY(650px);
    }
}

@keyframes swing {
    0% {
        transform: translateY(650px) rotateZ(0deg);
    }

    40% {
        transform: translateY(650px) rotateZ(90deg);
    }

    70% {
        transform: translateY(650px) rotateZ(70deg);
    }

    100% {
        transform: translateY(650px) rotateZ(75deg);
    }
} */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 1002;
   
   

}
.swiper-container-top {
    z-index: 1;
  
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10001;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  
}



@keyframes spin{
    from{transform: rotateZ(0deg);}
    t0{transform: rotateZ(360deg);}
}

