@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    border: 6px solid white;
}

.swiper-pagination .swiper-pagination-bullet-active {
    opacity: .4;
    background-color:(#333333);
    border: 6px solid white;

}
#home .swiper-button-prev,
.swiper-rtl .swiper-button-next{
    color: white;
    padding-left: 30px;
    
}
#home .swiper-button-next,
.swiper-rtl .swiper-button-next {
    color: white;
    padding-right: 40px;
}

#one .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: black;
    border: 4px solid black;
}

#one .swiper-pagination .swiper-pagination-bullet-active {
    opacity: .4;
    background-color: (#333333);
    border: 4px solid black;

}
#two .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    border: 6px solid white;
}

#two .swiper-pagination .swiper-pagination-bullet-active {
    opacity: .8;
    background-color: white;
    border: 6px solid goldenrod;

}







.card-container {
    perspective: 1000px;
}

.card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}



.card-back {
    transform: rotateY(180deg);
}

.card-container:hover .card {
    transform: rotateY(180deg);
}